<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cnbi.zhaiwei.poiexcel.dao.ExcelTableMapper">
    <insert id="insertData2Table">
        insert into TESTEXCELTODATABASE_ZW (
        proofnum,period,smoney,funrange,subjectmatch,expensetype,
        costcenter,s_money,years,ispowerstation,businessunit,
        simplifycostcenter,expense_type)

        select proofnum,period,smoney,funrange,subjectmatch,expensetype,
        costcenter,s_money,years,ispowerstation,businessunit,
        simplifycostcenter,expense_type from
        <foreach collection="list" item="map" open="(" separator="union all" close=")">
            select
            <foreach collection="map.entrySet()" index="key" item="value" separator=",">
                <choose>
                    <when test="value != null">#{value} as ${key}</when>
                    <otherwise>'null' as ${key}</otherwise>
                </choose>
            </foreach>
            from dual
        </foreach>
    </insert>
</mapper>